{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change this</title>
    <link rel="stylesheet" href="{% static 'simpleReactEngine/simpleReactEngine.css' %}">
</head>
<body>
    {% csrf_token %}
    <header id="base"></header>
    <div id="root"></div>

    <script src="{% static 'simpleReactEngine/main.js' %}"></script>
</body>
</html>
